<div data-ng-controller="homeController" class="home-div">

<div class="left-menu">
	<p>WELCOME TO CITIBANK ONLINE:</p>
	<p>
		<select>
			<option>Login Now</option>
		<select>
	</p>
	<p>
		<ul>
		  <li><a href="javascript:void(0)">First Time User? Register Now</a></li>
		  <li><a href="javascript:void(0)">Forgot User ID / Password</a></li>
		</ul>
	</p>
	<hr>
	<p>SECURITY TIPS:</p>
	<p>Ensure safety of your information when you are banking online. Click here for some useful tips.</p>
	<hr>
</div>

<div id="slider1_container" style="float:left;position: relative; top: 5px; left: 0px; width: 984px; height: 498px;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 5px; top: 0px; width: 984px; height: 498px;">
        <div><img u="image" src="../images/slide-image1.jpg" /></div>
        <div><img u="image" src="../images/slide-image2.jpg" /></div>
		<div><img u="image" src="../images/slide-image3.jpg" /></div>
        <div><img u="image" src="../images/slide-image4.jpg" /></div>
    </div>
</div>

<br clear="both"/>
</div>