<div data-ng-controller="ModalDemoCtrl">
<div style="padding:20px">
  <form role="form">
	<div >
	  <div class="form-group">
		<label for="email">User Id:</label>
		<input type="email" class="form-control" id="email">
	  </div>
	  <div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="pwd">
	  </div>
	  <div class="checkbox">
		<label><input type="checkbox"> Remember me</label>
	  </div>
	  <button type="button" class="btn btn-default" data-ng-click="closeModal()">close</button>
	  <button type="button" class="btn btn-default">Submit</button>
	  
	 </div> 
  </form>
</div>
</div>